{
  "customFunctions": [],
  "defaultLanguage": "en-us",
  "defaultLocale": "en-us",
  "importedLibraries": [],
  "languages": ["en-us"],
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "luFeatures": {
    "enableCompositeEntities": true,
    "enableListEntities": true,
    "enableMLEntities": true,
    "enablePattern": true,
    "enablePhraseLists": true,
    "enablePrebuiltEntities": true,
    "enableRegexEntities": true
  },
  "luis": {
    "authoringKey": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/luis-authoring-key",
    "authoringEndpoint": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/luis-authoring-endpoint",
    "endpointKey": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/luis-endpoint-key",
    "endpoint": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/luis-endpoint",
    "authoringRegion": "westus",
    "defaultLanguage": "en-us",
    "environment": "composer",
    "name": "[LUIS_APP_NAME_BASE]",
    "appId":"https://[KEY_VAULT_NAME].vault.azure.net/secrets/luis-app-id"
  },
  "publishTargets": [],
  "qna": {
    "subscriptionKey": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/qna-subscription-key",
    "knowledgebaseid": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/qna-knowledgebase-id",
    "endpointKey": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/qna-endpoint-key",
    "hostname": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/qna-hostname",
    "qnaRegion": "westus",
    "scoreThreshold": "0.3"
  },
  "stargateToken": {
      "URL": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/stargateTokenUrl",
      "clientID": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/stargateTokenClientId",
      "clientSecret": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/stargateTokenClientSecret"
  },
  "kbSearch":{
  "azureSearchHostName":"https://[KEY_VAULT_NAME].vault.azure.net/secrets/azure-search-host-name",
  "azureSearchKey" : "https://[KEY_VAULT_NAME].vault.azure.net/secrets/azure-search-key"
  },
  

  "BlobsStorage": {
    "connectionString": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/storage-connection-string",
    "containerName": "statelogs"
  },
  "runtime": {
    "command": "npm run dev --",
    "customRuntime": true,
    "key": "adaptive-runtime-js-webapp",
    "path": "../"
  },
  "runtimeSettings": {
    "adapters": [],
    "features": {
      "removeRecipientMentions": false,
      "showTyping": true,
      "traceTranscript": true,
      "blobTranscript": {
        "connectionString": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/storage-connection-string",
        "containerName": "transcriptlogs"
      },
      "useInspection": false,
      "setSpeak": {
        "voiceFontName": "en-US-AriaNeural",
        "fallbackToTextForSpeechIfEmpty": true
      }
    },
    "components": [
      {
        "name": "custom-actions"
      },
      {
        "name": "@advanceddevelopment/caip-custom-actions"
      }
    ],
    "skills": {
      "allowedCallers": ["*"]
    },
    "storage": "BlobsStorage",
    "telemetry": {
      "logActivities": true,
      "logPersonalInformation": true,
      "options": {
        "instrumentationKey": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/appinsights-instrument-key"
      }
    }
  },
  "downsampling": {
    "maxImbalanceRatio": -1
  },
  "servicenow": {
      "URL": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/SNow-Instance-url",
      "Authorization": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/Snow-Authorization",
      "IncContactType": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/Snow-IncContactType",
    "Inctype": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/Snow-Inctype",
    "OpenIncGroup": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/Snow-OpenIncGroup",
    "OpenIncState": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/Snow-OpenIncState",
    "OpenPriority": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/Snow-OpenPriority",
    "SelfIncState": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/Snow-SelfIncState",
    "CloseCode": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/Snow-CloseCode",
    "CloseNotes": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/Snow-CloseNotes",
    "CloseComments": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/Snow-CloseComments",
    "SelfShortDes": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/Snow-SelfShortDes",
	"BomgarUrl" :"https://[KEY_VAULT_NAME].vault.azure.net/secrets/BomgarUrl"
      },
  "chat": {
      "ChatFlagGenesys" :"https://[KEY_VAULT_NAME].vault.azure.net/secrets/ChatFlagGenesys",
      "genesysEntinfoStarturl" : "https://[KEY_VAULT_NAME].vault.azure.net/secrets/genesysEntinfoStarturl",
      "genesysEntinfoEndurl" : "https://[KEY_VAULT_NAME].vault.azure.net/secrets/genesysEntinfoEndurl",
      "genesysMenuOptions" : "https://[KEY_VAULT_NAME].vault.azure.net/secrets/genesysMenuOptions",
      "GenesysMatchingProducts" : "https://[KEY_VAULT_NAME].vault.azure.net/secrets/GenesysMatchingProducts",
      "GenesysWaitTimeAPI" : "https://[KEY_VAULT_NAME].vault.azure.net/secrets/GenesysWaitTimeAPI",
      "GenesysFunSubFunc": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/GenesysFunSubFunc",
      "GenesysLuisFlag": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/GenesysLuisFlag"
    },
  "attachment": {
      "addAttachment": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/addAttachmentUrl"
      },
  "thdi": {
      "openincidents": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/openIncidentUrl",
      "createChildIncident": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/createChildIncidentUrl",
      "getChildIncidentDetails": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/getChildIncidentDetailsUrl",
      "getThdiToken": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/getThdiTokenUrl",
      "getThdi": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/getThdiUrl",
      "getTop20Prod": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/getTopProducts",
      "helpdeskUrl": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/helpdeskUrl",
      "helpdeskTicketUrl": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/helpdeskTicketUrl",
      "helpdeskClosedUrl": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/helpdeskClosedUrl",
      "getParentIncidentUrl": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/getParentIncidentUrl",
      "meTooDescription": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/meTooDescription",
      "meTooUtype": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/meTooUtype",
      "meTooutscproduct": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/meTooutscproduct",
	    "stargateTokenClientId":"https://[KEY_VAULT_NAME].vault.azure.net/secrets/stargateTokenClientId",
	    "stargateTokenClientSecret":"https://[KEY_VAULT_NAME].vault.azure.net/secrets/stargateTokenClientSecret",
      "blobProducts":"https://[KEY_VAULT_NAME].vault.azure.net/secrets/blobProducts",
      "blobImportantProducts":"https://[KEY_VAULT_NAME].vault.azure.net/secrets/blobImportantProducts",
      "msAppIdEnv":"https://[KEY_VAULT_NAME].vault.azure.net/secrets/msAppIdEnv"
      },
  "qnaProducts": {
      "products": [ "windows 10","citrix (myapps-ecc.optum.com)","citrix (myapps-ecc.uhc.com)","citrix (myappsremote.optum.com)","cps (claim payment system) - jacada","tops/unet",
"microsoft teams","rally (ca agile central)","genesys workspace (wwe)","hardware","rsa securid soft token","facets (c&s)(csp)","domains","adobe acrobat","workspace one","printers (telecommuter)","webex calling","linx","microsoft edge","rxclaim (prescription solutions)","vcc desktop",
      "microsoft outlook","outlook o365","unix","appstore","icue (integrated clinical user experience)","secure","linux","tso","global self service","hardware","iex (nice - webstation)","microsoft excel","ndb (network database)",
      "headset","cisco anyconnect vpn client"
      ]
  },
  "thdiAndQnaSrcProdDtls": [
     {
      "buttonTitle": "ICUE Related Issue",
      "firstUtterance": "Icue (integrated clinical user experience)",
      "product": "Icue (integrated clinical user experience)",
      "qnaId": "306"
    }
  ],
  "kbStopWD": {
    "stopword": [
      "i",
      "me",
      "my",
      "myself",
      "we",
      "our",
      "ours",
      "ourselves",
      "you",
      "you're",
      "you've",
      "you'll",
      "you'd",
      "your",
      "yours",
      "yourself",
      "yourselves",
      "he",
      "him",
      "his",
      "himself",
      "she",
      "she's",
      "her",
      "hers",
      "herself",
      "it",
      "it's",
      "its",
      "itself",
      "they",
      "them",
      "their",
      "theirs",
      "themselves",
      "what",
      "which",
      "who",
      "whom",
      "this",
      "that",
      "that'll",
      "these",
      "those",
      "am",
      "is",
      "are",
      "was",
      "were",
      "be",
      "been",
      "being",
      "have",
      "has",
      "had",
      "having",
      "do",
      "does",
      "did",
      "doing",
      "a",
      "an",
      "the",
      "and",
      "but",
      "if",
      "or",
      "because",
      "as",
      "until",
      "while",
      "of",
      "at",
      "by",
      "for",
      "with",
      "about",
      "against",
      "between",
      "into",
      "through",
      "during",
      "before",
      "after",
      "above",
      "below",
      "to",
      "from",
      "up",
      "down",
      "in",
      "out",
      "on",
      "off",
      "over",
      "under",
      "again",
      "further",
      "then",
      "once",
      "here",
      "there",
      "when",
      "where",
      "why",
      "how",
      "all",
      "any",
      "both",
      "each",
      "few",
      "more",
      "most",
      "other",
      "some",
      "such",
      "only",
      "own",
      "same",
      "so",
      "than",
      "too",
      "very",
      "can",
      "will",
      "just",
      "don",
      "don't",
      "should",
      "should've",
      "now",
      "aren't",
      "couldn",
      "couldn't",
      "didn",
      "didn't",
      "doesn",
      "doesn't",
      "hadn",
      "hadn't",
      "hasn",
      "hasn't",
      "haven",
      "haven't",
      "isn",
      "isn't",
      "mightn",
      "mightn't",
      "mustn",
      "mustn't",
      "needn",
      "needn't",
      "shouldn",
      "shouldn't",
      "wasn",
      "wasn't",
      "weren",
      "weren't",
      "won",
      "won't",
      "wouldn",
      "wouldn't",
      "those",
      "on",
      "own",
      "yourselves",
      "around",
      "between",
      "for",
      "been",
      "alone",
      "off",
      "am",
      "then",
      "other",
      "can",
      "regarding",
      "hereafter",
      "front",
      "too",
      "used",
      "wherein",
      "‘ll",
      "doing",
      "everything",
      "up",
      "onto",
      "never",
      "either",
      "how",
      "before",
      "anyway",
      "since",
      "through",
      "amount",
      "now",
      "he",
      "was",
      "have",
      "into",
      "because",
      "not",
      "therefore",
      "they",
      "n’t",
      "even",
      "whom",
      "it",
      "see",
      "somewhere",
      "thereupon",
      "nothing",
      "whereas",
      "much",
      "whenever",
      "seem",
      "until",
      "whereby",
      "at",
      "also",
      "some",
      "last",
      "than",
      "get",
      "already",
      "our",
      "once",
      "will",
      "noone",
      "that",
      "what",
      "thus",
      "myself",
      "out",
      "next",
      "whatever",
      "although",
      "though",
      "which",
      "would",
      "therein",
      "nor",
      "somehow",
      "whereupon",
      "besides",
      "whoever",
      "ourselves",
      "few",
      "did",
      "without",
      "third",
      "anything",
      "twelve",
      "against",
      "while",
      "twenty",
      "if",
      "however",
      "herself",
      "when",
      "may",
      "ours",
      "six",
      "done",
      "seems",
      "else",
      "call",
      "perhaps",
      "had",
      "nevertheless",
      "where",
      "otherwise",
      "still",
      "within",
      "its",
      "for",
      "together",
      "elsewhere",
      "throughout",
      "of",
      "others",
      "show",
      "’s",
      "anywhere",
      "anyhow",
      "as",
      "are",
      "the",
      "hence",
      "something",
      "hereby",
      "nowhere",
      "latterly",
      "say",
      "does",
      "neither",
      "his",
      "go",
      "forty",
      "put",
      "their",
      "by",
      "namely",
      "could",
      "five",
      "unless",
      "itself",
      "is",
      "nine",
      "whereafter",
      "down",
      "bottom",
      "thereby",
      "such",
      "both",
      "she",
      "become",
      "whole",
      "who",
      "yourself",
      "every",
      "thru",
      "except",
      "very",
      "several",
      "among",
      "being",
      "be",
      "mine",
      "further",
      "n‘t",
      "here",
      "during",
      "why",
      "with",
      "just",
      "'s",
      "becomes",
      "about",
      "using",
      "seeming",
      "'d",
      "'ll",
      "'re",
      "due",
      "wherever",
      "beforehand",
      "fifty",
      "becoming",
      "might",
      "amongst",
      "my",
      "empty",
      "thence",
      "thereafter",
      "almost",
      "least",
      "someone",
      "often",
      "from",
      "keep",
      "him",
      "or",
      "‘m",
      "top",
      "her",
      "nobody",
      "sometime",
      "across",
      "‘s",
      "’re",
      "hundred",
      "only",
      "via",
      "name",
      "eight",
      "three",
      "back",
      "to",
      "all",
      "became",
      "move",
      "me",
      "we",
      "formerly",
      "so",
      "i",
      "whence",
      "under",
      "always",
      "himself",
      "in",
      "herein",
      "more",
      "after",
      "themselves",
      "you",
      "above",
      "sixty",
      "them",
      "your",
      "made",
      "indeed",
      "most",
      "everywhere",
      "fifteen",
      "but",
      "must",
      "along",
      "beside",
      "hers",
      "side",
      "former",
      "anyone",
      "full",
      "has",
      "yours",
      "whose",
      "behind",
      "please",
      "ten",
      "seemed",
      "sometimes",
      "should",
      "over",
      "take",
      "each",
      "same",
      "rather",
      "really",
      "latter",
      "and",
      "ca",
      "hereupon",
      "part",
      "per",
      "eleven",
      "ever",
      "‘re",
      "enough",
      "n't",
      "again",
      "‘d",
      "us",
      "yet",
      "moreover",
      "mostly",
      "one",
      "meanwhile",
      "whither",
      "there",
      "toward",
      "’m",
      "'ve",
      "’d",
      "give",
      "do",
      "an",
      "quite",
      "these",
      "everyone",
      "towards",
      "this",
      "cannot",
      "afterwards",
      "beyond",
      "make",
      "were",
      "whether",
      "well",
      "another",
      "below",
      "first",
      "upon",
      "any",
      "none",
      "many",
      "serious",
      "various",
      "re",
      "two",
      "less",
      "‘ve"
    ]
  },
  "skillConfiguration": {},
  "skillHostEndpoint": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/skillHostEndPoint",
  "skill": {
    "liveAgentSkillBot": {
      "endpointUrl": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/liveAgentSkillBotEndpointURL",
      "msAppId": "https://[KEY_VAULT_NAME].vault.azure.net/secrets/liveAgentSkillBotmsAppId"
    }
  }
}
